body {
    background-color: rgb(31, 31, 31);
}

h1 {
    text-align: center;
    color:salmon;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: salmon;
}

.buttons button:active {
    background-color: salmon;
}

.timer-container {
    text-align: center;
    color: ghostwhite;
}